<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="DISCORD_WEBHOOK_URL" source="logging.discord.webhook-url" defaultValue="none"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DISCORD" class="com.raota.global.log.DiscordAppender">
        <webHookUrl>${DISCORD_WEBHOOK_URL}</webHookUrl>
    </appender>

    <appender name="ASYNC_DISCORD" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="DISCORD" />
        <queueSize>100</queueSize> <discardingThreshold>0</discardingThreshold> <includeCallerData>false</includeCallerData> </appender>

    <springProfile name="local, dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="prod, local">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="ASYNC_DISCORD" />
        </root>
    </springProfile>

</configuration>